html {
  scroll-behavior: smooth;
}


a {
  color: inherit;
  font-style: italic;
}

nav {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  height: 4em;
  width: 100%;
  background-position: left-top;
  background-repeat: no-repeat;
  background-color: transparent;
  box-sizing: border-box;
  padding: 5px 18px;
  box-shadow: 0px 4px 7px #777;
  transition: background-color 0.4s ease-out;
}

nav span {
  font-weight: 600;
  letter-spacing: .085em;
}


nav.scroll {
  background-color: #A1572F;
  color: #eef;
}

#first {
  height: 60em;
  background-size: cover;
  width: auto;
  background-position: 50% 50%;
  position: relative;
  background-image: url('./images/travel.jpg');
  background-position: 0px;
  animation: mymove 3s;
}

@keyframes mymove {
 
  0% {
       opacity: 0;
       transform: translateX(-2000px);
     }
  100% {
        opacity: 1;
        transform: translateX(0);
      }
}

#firstline {
  position: relative;
  background-position: 10px;
  animation: fine 3s;
}

@keyframes fine {

  0% {
    opacity: 0;
    left: -2000px;
  }

  100% {
    opacity: 1;
    left: 0px;
  }
}

#secondline {
  position: relative;
  background-position: 10px;
  animation: fine 5s;
}

@keyframes fine {

  0% {
    opacity: 0;
    left: -2000px;
  }

  100% {
    opacity: 1;
    left: 0px;
  }
}

#thirdline {
  position: relative;
  background-position: 10px;
  animation: game 6s;
}

@keyframes game {

  0% {
    opacity: 0;
    top: -2000px;
  }

  100% {
    opacity: 1;
    top: 0px;
  }
}
.orange {
  color: orange;
}

.yellow {
  color: yellow;
}

.white {
  color: white;
}

#quote {
  top: 100px;
  margin-left: 670px;
  align-items: center;
  color: green;
  z-index: 2;
  position: relative;
  font-size: 50px;
  transition: top ease 2.0s;
}

#secondline {
  margin-left: 38px;
}

#thirdline {
  margin-left: 160px;
}


nav span {
  font-weight: 600;
  letter-spacing: .085em;
}

.buttonone {
  text-transform: uppercase;
  position: absolute;
  right: 10px;
  top: 10px;
  display: block;
  margin: 0 auto;
  padding: 8px;
  background: transparent;
  border-radius: 8px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  letter-spacing: 1px;
  transition: all 0.3s ease-out;
}


#second {
  padding-top: 20px;
  text-align: center;
  background: linear-gradient(black, white);
  height: 500px;
  width: 100%;
}

#signup {
  color: white;
}

#form {
  z-index: 3;
  box-shadow: 50px yellow;
  margin-left: 36%;
  padding-top: 20px;
  height: 350px;
  width: 500px;
}

input {
  padding: 10px;
  margin-top: 20px;
  border-color: blue;
  border-radius: 10px;
}

#invisible{
  color: white;
  font-family: monospace;
  font-size: 20px;

}

#copyright {
  text-align: center;
  color: red;
  margin-bottom: 10px;
  font-size: 20px;
}
